<ion-view view-title="Acerca de">
   <ion-content>
	   	<div class="card">
	   		<div class="item item-divider">
				<label>Mas información</label>
			</div>
    		<div class="list">
				  	<a class="item item-icon-left " ng-click="wikipediaG()">
					    <i class="icon ion-information-circled"></i>
					    Maquina Enigma
				  	</a>
				  	<a class="item item-icon-left" ng-click="wikipediaC()">
					    <i class="icon ion-information-circled"></i>
					    Criptoanálisis de la Maquina
				  	</a>
		     		<div class="item item-divider">
					    <label>Contactanos</label>
					</div>
				  	<a class="item item-icon-left" ng-click="emailJK()">
					    <i class="icon ion-at"></i>
					    JesusKinto@gmail.com
				  	</a>
				  	<a class="item item-icon-left" ng-click="emailED()">
					    <i class="icon ion-at"></i>
					    Eduardodaboinaraujo@gmail.com
				 	</a>
	  				<a class="item item-icon-left" ng-click="twitterJK()">
				    	<i class="icon ion-social-twitter"></i>
					    @Jesus5to
					</a>
				  	<div class="item item-divider">
			    		<label>Codigo Fuente</label>
					</div>
					<a class="item item-icon-left" ng-click="github()">
					    <i class="icon ion-social-github"></i>
					    github.com/JesusQuinto/enigma
					</a>
			</div>
		</div>
		<div class="card">
				<div class="item item-divider">
			    <label>Un juego para aprender matemática y lógica</label>
			</div>
			<a class="item item-icon-left" ng-click="githubM()">
			    <i class="icon ion-social-github"></i>
			    github.com/ULAnux/mathematica
			</a>
			<a class="item item-icon-left" ng-click="twitterM()">
			    <i class="icon ion-social-twitter"></i>
			    @jacintodavila
			</a>
		</div>
   </ion-content>
</ion-view>