<ion-view view-title="Encriptar">
   <ion-content scroll="false">
	   <div class="card">
	   	 	<div class="item item-divider">
	   	 		<label class="routers">Routers:</label>
	   	 		<label>1)</label>
				<select ng-model="data.routers[0].position" ng-change="moveRouter(0,data.routers[0].position)" 
					ng-options="letter for letter in data.abc">
				</select>
				<label>2)</label>
				<select ng-model="data.routers[1].position" ng-change="moveRouter(1,data.routers[1].position)" 
					ng-options="letter for letter in data.abc">
				</select>
				<label>3)</label>
				<select ng-model="data.routers[2].position" ng-change="moveRouter(2,data.routers[2].position)" 
					ng-options="letter for letter in data.abc">
				</select>

			    <button class="button button-small button-calm pref copy" ng-click="restartRouters()"> 
			    	<i class="icon ion-backspace"></i>
			    </button>
				<button class="button button-small button-calm pref" ng-click="modal.show()"> 
			    	<i class="ion-gear-b"></i>
			    </button>
			</div>
		</div>
    	<div class="card">
	   	 	<div class="item item-divider">
	   	 		<label>Salida</label>
	   	 		<button class="button button-small button-calm pref clean" ng-disabled="!data.messageOutput" ng-click="cleanOutput()"> 
			    	<i class="icon ion-backspace"></i>
			    </button>
	   	 		<button class="button button-small button-calm pref copy" ng-disabled="!data.messageOutput" ng-click="copy()"> 
			    	<i class="icon ion-clipboard"></i>
			    </button>
				<button class="button button-small button-calm pref" ng-disabled="!data.messageOutput" ng-click="sharing()"> 
			    	<i class="icon ion-android-share-alt"></i>
			    </button>
			</div>
			<div class="item item-text-wrap output">
				<p ng-bind="data.messageOutput"></p>
			</div>
		</div>
		<div ng-if="data.quick == 'true'">
			<form name="encryptForm" ng-submit="read()" novalidate>
	          <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
	              <label class="item-input-wrapper">
	                  	<textarea ng-model="data.message" value=""
	                  		placeholder="Encripta tu mensaje..." only-alpha capitalize minlength="1" required>
	                  	</textarea>
	              </label>
	              <div class="footer-btn-wrap">
	                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
	                    ng-disabled="!data.message || data.message === ''">
	                </button>
	              </div>
	          </ion-footer-bar>
	        </form>
		</div>
		<div ng-if="data.quick == 'false'">
	        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
	            <label class="item-input-wrapper">
	                <textarea ng-model="data.message" ng-change="autoRead()" value=""
	                  	placeholder="Encripta tu mensaje en tiempo real..." only-alpha capitalize>
	                </textarea>
	            </label>
	        </ion-footer-bar>
		</div>
   </ion-content>
</ion-view>