<ion-view view-title="Guia">
   <ion-content>
    	<div class="card">
	   	 	<div class="item item-divider">
			    <label>Guia Rapida</label>
			    <button class="button button-small button-calm pref" ui-sref="tab.guia-rapida"> 
			    	<i class="icon ion-plus-round"></i>
			    </button>
			</div>
			<div class="item item-text-wrap">
				<p>
				    This is a basic Card with some text.
				    This is a basic Card with some text.
				    This is a basic Card with some text.
				    This is a basic Card with some text.
			    </p>
			</div>
		</div>
    	<div class="card">
	   	 	<div class="item item-divider">
			    <label>Como funciona</label>
			    <button class="button button-small button-calm pref" ui-sref="tab.como-funciona"> 
			   		<i class="icon ion-plus-round"></i>
			    </button>
			</div>
			<div class="item item-text-wrap">
				<p>
				    This is a basic Card with some text.
				    This is a basic Card with some text.
				    This is a basic Card with some text.
				    This is a basic Card with some text.
				</p>
			</div>
		</div>
   </ion-content>
</ion-view>