<ion-view view-title="Guia">
   <ion-content>
    	<div class="card">
	   	 	<div class="item item-divider">
			    Guia Rapida
			</div>
			<div class="item item-text-wrap">
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    <button class="button button-small button-calm" ui-sref="tab.guia-rapida"> 
			    	<i class="icon ion-plus-round"></i>
			    </button>
			</div>
		</div>
    	<div class="card">
	   	 	<div class="item item-divider">
			    Como funciona
			</div>
			<div class="item item-text-wrap">
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    <button class="button button-small button-calm" ui-sref="tab.como-funciona"> 
			   		<i class="icon ion-plus-round"></i>
			    </button>
			</div>
		</div>
   </ion-content>
</ion-view>