<ion-modal-view>
	<ion-header-bar class="bar-calm">
	  	<h1 class="title">Nosotros</h1>
	  	<button class="button button-clear button-primary" ng-click="modal.hide()">
	  		<i class="icon ion-close-round"></i>
	  	</button>
	</ion-header-bar>
	<ion-content>
		<div class="icon-container">
			<img src="img/enigmaIcon.png">			
		</div>
		<div class="row">
		  	<div class="col">
				<p class="padding">
					Aplicacion que simula el comportamiento de la maquina 
					enigma (maquina utilizada en la segunda guerra mundial por
					los Alemanes para enviar mensajes encriptados).
				</p>
				<div class="card">
				  <div class="item text-wrap">
				    <label>Materia:<span>Matematicas Discretas</span></label>
				  </div>
				  <div class="item item-text-wrap">
				    <label>Profesor:<span>Jacinto Davila</span></label>
				  </div>
				  <div class="item text-wrap">
				    <label>Semestre:<span>A-2016</span></label>
				  </div>
				</div>
			</div>
		</div>
		<div class="row responsive-sm">
		  	<div class="col col-50">
				<div class="card">
					<div class="item item-avatar">
					    <img src="img/profile1.jpg">
					    <h2>Jesus Miguel Quinto Teran</h2>
					    <h4>jesuskinto@gmail.com</h4>
					</div>
					<div class="item item-body">
					    <p>
					        Estudiante de Quinto Semestre de Ingeniería de Sistemas en la Universidad
					        de los Andes Venezuela, Apasionado por el Desarrollo Web, el Diseño y la Animación Digital.
					    </p>
					</div>
				</div>
  			</div>
		  	<div class="col col-50">
				<div class="card">
					<div class="item item-avatar">
					    <img src="img/profile2.jpg">
					    <h2>Rafael Eduardo Daboin Araujo</h2>
					    <h4>Eduardodaboinaraujo@gmail.com </h4>
					</div>
					<div class="item item-body">
						<p>
							Estudiante de Sexto Semestre de Ingeniería de Sistemas en la Universidad 
							de los Andes Venezuela, Interesado en los Procesos de Control y Automatización.
					    </p>
					</div>
				</div>
  			</div>
		</div>
		<div class="row">
		  	<div class="col">
			  	<div class="card">
				  	<div class="item item-body">
				  		<div class="row">
				  			<div class="col col-50 col-center">
				  				<img class="full-image" src="img/ula.png">
				  			</div>
				  			<div class="col col-50">
				  				<img class="full-image" src="img/sistemas.png">
				  			</div>
				  		</div>
						<p class="padding">
							Universidad de los Andes Venezuela 5 diciembre 2016 
						</p>
					</div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-modal-view>