<ion-modal-view>
	<ion-header-bar class="bar-calm">
	  	<h1 class="title">Preferencias</h1>
	  	<button class="button button-clear button-primary" ng-click="modal.hide()">
	  		<i class="icon ion-close-round"></i>
	  	</button>
	</ion-header-bar>
	<ion-content>
		<div class="card">
	   	 	<div class="item item-divider">
	   	 		Reflector
			</div>
			<div class="item item-text-wrap">
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			</div>
		</div>

		<div class="card">
	   	 	<div class="item item-divider">
	   	 		Routers
			</div>
			<div class="item item-text-wrap">
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			</div>
		</div>

		<div class="card">
	   	 	<div class="item item-divider">
	   	 		Plugboard
			</div>
			<div class="item item-text-wrap">
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			    This is a basic Card with some text.
			</div>
		</div>
	</ion-content>
</ion-modal-view>